:root {
  --colorNormal: #ffffcc;
  --colorImportante: #ec7063;
  --colorBackGround: #666;
  --colorGrisOscuro: #111;
}



.header {
  display: flex;
  justify-content: center;
  color: white;
  text-shadow: 12px 12px 12px black;

}



.title{
  display: flex;
  justify-content: center;
}


.header {
  display: flex;
  justify-content: center;
  color: rgb(0, 0, 0);
  text-shadow: 12px 12px 12px black;
  font-family: 'Press Start 2P', cursive;
}

body {
  background-image: url("imagen.jpg");
  background-repeat: space;
  
  margin: 50px 5vw 0;
}


.add   {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  flex-direction: column;
  font-family: cursive;

}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

form #save{
  margin-top: 20px;
}


.btn-agregar {
  background-color: var(--colorGrisOscuro);
  text-transform: uppercase;
}

.input-group {
  display: flex;
  align-items: center;
}

.checkmark {
  height: 25px;
  width: 25px;
  margin: auto;
  text-align: center;
}

.text-blanco {
  color: #fff;
  padding-left: 10px;
}


/* Post It */

h2,
p {
  font-size: 100%;
  font-weight: normal;
}

ul,
li {
  list-style: none;
  display: inline-block;
}

ul {
  overflow: hidden;
  padding: 2em;
}

ul li a {
  text-decoration: none;
  color: var(--colorGrisOscuro);
  background: var(--colorNormal);
  display: block;
  height: 15em;
  width: 15em;
  padding: 1em;
  /* Firefox */
  -moz-box-shadow: 5px 5px 7px rgba(33, 33, 33, 1);
  /* Safari+Chrome */
  -webkit-box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  /* Opera */
  box-shadow: 5px 5px 7px rgba(33, 33, 33, .7);
  -moz-transition: -moz-transform .15s linear;
  -o-transition: -o-transform .15s linear;
  -webkit-transition: -webkit-transform .15s linear;
}

ul li {
  padding-top: 2em;
  padding-bottom: 2em;
  float: left;
}

ul li h2 {
  font-size: 140%;
  font-weight: bold;
  padding-bottom: 10px;
}

ul li p {
  font-family: fantasy;
  font-size: 180%;
}

ul li a {
  -webkit-transform: rotate(-6deg);
  -o-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  word-wrap: break-word;
  overflow: scroll;
}

ul li:nth-child(even) a {
  -o-transform: rotate(4deg);
  -webkit-transform: rotate(4deg);
  -moz-transform: rotate(4deg);
  position: relative;
  top: 5px;
}

ul li:nth-child(3n) a {
  -o-transform: rotate(-3deg);
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  position: relative;
  top: -5px;
}

ul li:nth-child(5n) a {
  -o-transform: rotate(5deg);
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  top: -10px;
}

ul li a:hover,
ul li a:focus {
  -moz-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  -webkit-box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  box-shadow: 10px 10px 7px rgba(0, 0, 0, .7);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -o-transform: scale(1.25);
  position: relative;
  z-index: 5;
}


/* Centrar elementos en pantalla */

.importante {
  background: var(--colorImportante);
}

#botonX {
  float: right;
  background: rgba(0, 0, 0, 0);
  border-style: none;
}


/* No cambiar de color en hover */

ul li a:hover {
  color: #111;
}